.CourseApply {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.courseForm {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr)); /* 2 equal columns */
  gap: 0.5rem;
  padding: 0.5rem;
}

.GridSpan2 {
  grid-column: span 2 / span 2; /* Makes element span across both columns */
}
