.Card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
}


.Category {
    border-radius: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: beige;
    font-weight: bold;
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
}


.CardTitle {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;
}


.Title {
    font-size: large;
}


.Duration {
    color: gainsboro;
}
