 #root {
  width: 100%;
  height: 100vh;
 }

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
}

.navBar {
  background-color: gainsboro;
  padding: 1rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}